 <!DOCTYPE html>
 <header>
 
 <link rel="stylesheet" href="/assets/style.css" type="text/css">
 	<title>Dignify</title>


</p><div class="main">
	<div class="logo>"></div>
	<img src="/assets/logoo.png">
<ul>
<li><a class="active" href="Dignify.html">HOME</a></li>
<li><a href="loginButtonPage.html">LOGIN</a></li>
<li><a href="registerButtonPage.html">REGISTER</a></li>
<li><a class="contact" href="contactPage.html">CONTACT</a></li>
  <div class="error-message">
  </div>
		<div class ="title">
			<p>Making your prayers easier.</p>
		<div class="image">
		<img src ="/assets/hand2.png">   
</img>
</img>
</div>
</ul>
</HEADER>

<div class ="sec1image">
	<div class ="sec1t">
		<span class ="border">
		
				<br><br><br><br><br><br><br><br><br>
			<H2>  What we do </H2>
			</div>
		
			
				<div class="sec1tt2">
					<span class="border">
		</p>
		
			<p align = "center">
			Dignify would be a non-profit organization which provides a platform <br>to share your availability and transportation to people around you.
			
			</div>
		</div>
</p>
			
		</span>
	</div>

</section>

<div class ="sec2image">
	<div class ="sec2t">
		
		
				<br><br><br><br><br><br><br><br><br>
			<H2>  How it works </H2>
			</div>
		
			
				<div class="sec2tt2">
			
		</p>
		
			<p align = "center">
			A person could show their availability on when they go to pray. <br>The passenger could then sign in and <br>look for people who go to the same worshipping place as them,<br> and ride with them to the destination.
			
			</div>
		</div>
</p>
			
		
	</div>


	</body>
	  <script src="client.js"></script>
</font>
</html>