<html>
<head><title>Register</title>
 <link rel="stylesheet" href="/assets/st.css" type="text/css">
<style>
body {
margin: 0;
	padding: 0;
	font-family: Century Gothic;
background: linear-gradient(135deg,rgb(253,200,48) 0%, rgba(243,115,53) 100%);
height:100vh;
}
.register{
	background:#fff;
	padding:40px;
	width:240px;
	margin:auto;
	margin-top:50px;
	height:300px;
}
form{
	width:240px;
	text-align: center;

}
input{
	width:240px;
	text-align: center;
	background:#ecf0f1;
	border:2px solid transparent;
	border-radius:3px;
	font-size:16px;
	font-weight: 200;
	padding:10px 0;
	transition:border .5s;
}
input[type=submit]{
	border:2px solid transparent;
	background:#3498db;
	color:white;
	font-size:16px;
	line-height:25px;
	padding:10px 0;
	border-radius:3px;
}
}
</style>
</head>
</p><div class="main">
	<div class="logo>"></div>
	<img src="/assets/logoo.png">
<ul>
<li><a class="active" href="dignifyuse.html">HOME</a></li>
<li><a href="loginButtonPage.html">LOGIN</a></li>
<li><a href="registerButtonPage.html">REGISTER</a></li>
<li><a class="contact" href="contactPage.html">CONTACT</a></li>
</ul>
<center>
<Br>
</body>
<h2>
Register
</h2>
<br>
<input type = "text" name="name" placeholder ="Name">
<br>
<br>
<input type = "text" name="email" placeholder ="Email">
<br>
<br>
When you are planning to go?
<br>
<select name ="month">
	<option value ="month">Month</option>
	<option value ="january">January</option>
	<option value ="february">February</option>
	<option value ="march">March</option>
		<option value ="april">April</option>
			<option value ="may">May</option>
				<option value ="june">June</option>
					<option value ="july">July</option>
						<option value ="august">August</option>
							<option value ="september">September</option>
	<option value ="october">October</option>
		<option value ="november">November</option>
			<option value ="december">December</option>
	</select>
	<select name="day">
		<option value="days"> Day</option>
		<option value ="1"> 1</option>
		<option value ="2"> 2</option>
			<option value ="3"> 3</option>
				<option value ="4"> 4</option>
					<option value ="5"> 5</option>
						<option value ="6"> 6</option>
							<option value ="7"> 7</option>
								<option value ="8"> 8</option>
									<option value ="9"> 9</option>
										<option value ="10"> 10</option>
				<option value ="11"> 11</option>
					<option value ="12"> 12</option>
						<option value ="13"> 13</option>
							<option value ="14"> 14</option>
								<option value ="15"> 15</option>
									<option value ="16"> 16</option>
					<option value ="17"> 17</option>
						<option value ="18"> 18</option>
							<option value ="19"> 19</option>
								<option value ="20"> 20</option>
									<option value ="21"> 21</option>
										<option value ="22"> 22</option>
											<option value ="23"> 23</option>
												<option value ="24"> 24</option>
													<option value ="25"> 25</option>
														<option value ="26"> 26</option>
															<option value ="27"> 27</option>
																<option value ="28"> 28</option>
																	<option value ="29"> 29</option>
																		<option value ="30"> 30</option>
																			<option value ="31"> 31</option>


	</select>
	<select name ="year">
		<option value ="year"> Year</option>
		<option value ="2019"> 2019</option>
		<option value ="2020"> 2020</option>
		<option value ="2021"> 2021</option>
		<option value ="2022"> 2022</option>
		<option value ="2023"> 2023</option>
		<option value ="2024"> 2024</option>
		<option value ="2025"> 2025</option>

	</select>
	<br>
	<br>
What time approximately are you planning to go?<Br>
	<select name ="hour">
<option value ="1"> 1</option>
<option value ="2"> 2</option>
<option value ="3"> 3</option>
<option value ="4"> 4</option>
<option value ="5"> 5</option>
<option value ="6"> 6</option>
<option value ="7"> 7</option>
<option value ="8"> 8</option>
<option value ="9"> 9</option>
<option value ="10"> 10</option>
<option value ="11"> 11</option>
<option value ="12"> 12</option>
</select> :
<select name ="minute">
<option value ="1"> 1</option>
<option value ="2"> 2</option>
<option value ="3"> 3</option>
<option value ="4"> 4</option>
<option value ="5"> 5</option>
<option value ="6"> 6</option>
<option value ="7"> 7</option>
<option value ="8"> 8</option>
<option value ="9"> 9</option>
<option value ="10"> 10</option>
<option value ="11"> 11</option>
<option value ="12"> 12</option>
<option value ="13"> 13</option>
<option value ="14"> 14</option>
<option value ="15"> 15</option>
<option value ="16"> 16</option>
<option value ="17"> 17</option>
<option value ="18"> 18</option>
<option value ="19"> 19</option>
<option value ="20"> 20</option>
<option value ="21"> 21</option>
<option value ="22"> 22</option>
<option value ="23"> 23</option>
<option value ="24"> 24</option>
<option value ="25"> 25</option>
<option value ="26"> 26</option>
<option value ="27"> 27</option>
<option value ="28"> 28</option>
<option value ="29"> 29</option>
<option value ="30"> 30</option>
<option value ="31"> 31</option>
<option value ="32"> 32</option>
<option value ="33"> 33</option>
<option value ="34"> 34</option>
<option value ="35"> 35</option>
<option value ="36"> 36</option>
<option value ="37"> 37</option>
<option value ="38"> 38</option>
<option value ="39"> 39</option>
<option value ="40"> 40</option>
<option value ="41"> 41</option>
<option value ="42"> 42</option>
<option value ="43"> 43</option>
<option value ="44"> 44</option>
<option value ="45"> 45</option>
<option value ="46"> 46</option>
<option value ="47"> 47</option>
<option value ="48"> 48</option>
<option value ="49"> 49</option>
<option value ="50"> 50</option>
<option value ="51"> 51</option>
<option value ="52"> 52</option>
<option value ="53"> 53</option>
<option value ="54"> 54</option>
<option value ="55"> 55</option>
<option value ="56"> 56</option>
<option value ="57"> 57</option>
<option value ="58"> 58</option>
<option value ="59"> 59</option>

</select> 
<select name ="pmoram">
<option value ="AM"> AM</option>
<option value ="PM"> PM</option>
</select>
<br><br>
<input type = "text" name="address" placeholder ="Address">
<br><br>
<input type = "number" name="number" placeholder ="Phone Number">
<br><br>
<input type = "text" name="username" placeholder ="Username">
<br>
<br>
<input type = "password" name ="password" placeholder="Password">
<br>
<br>
<input type ="submit" value ="Register">
<h3>
</h3>
</font>
</html>