<html>
 <link rel="stylesheet" href="/assets/st.css" type="text/css">
<style>

body {
margin: 0;
	padding: 0;
	font-family: Century Gothic;
background: linear-gradient(135deg,rgb(253,200,48) 0%, rgba(243,115,53) 100%);
height:100vh;
}
</style>

<head>
</head>
<body>
	</p><div class="main">
	<div class="logo>"></div>
	<img src="https://i.imgur.com/V6MxZsT.png">
<ul>
<li><a class="active" href="dignifyuse.html">HOME</a></li>
<li><a href="loginButtonPage.html">LOGIN</a></li>
<li><a href="registerButtonPage.html">REGISTER</a></li>
<li><a class="contact" href="contactPage.html">CONTACT</a></li>
</ul>
	<center>
		<br><br><br><br><br><br><br><br><br><br><br>

	<a href="registerPage.html" class="button1">Driver</a>
	
	<a href ="registerPage.html" class="button2">Passenger</a>
</body>
</div>
</center>
</style>
</html>